- @forview = "SHOW"
= render :partial=>"breadcrumbs"

- if @pregunta.errors.any?
  .error
    %ul
    - @pregunta.errors.full_messages.each do |msg|
      %li= msg

.show
  %h2= Pregunta.model_name.human

  %div{:id=>"options"}
    = button_new(new_admin_pregunta_path)
    = button_edit(edit_admin_pregunta_path(@pregunta))
    = button_delete(admin_pregunta_path(@pregunta))
    = button_cancel(admin_preguntas_path)
    %br

  .box
    %table
      %colgroup.show-table-header
      %colgroup.show-table-data
      %tr
        %th= label :_id, Pregunta.human_attribute_name(:_id)
        %td= @pregunta._id
      %tr
        %th= label :orden, Pregunta.human_attribute_name(:orden)
        %td= @pregunta.orden
      %tr
        %th= label :texto, Pregunta.human_attribute_name(:texto)
        %td= @pregunta.texto

