= content_for :footer do
  = javascript_include_tag 'homepage.js'
= render 'header'
#main.span-22.prepend-1.append-1.last
  #content.span-15
    = render 'pregunta'
    %hr.space
    = render 'candidato'    
    %hr.space
    = render 'estados'
  #sidebar.span-7.last
    #feeds.span-7.last
    = render 'twitter_button'
    = render 'twitter_feed'
%hr.space
#video.span-22.prepend-1.append-1.last{"text-align" => :center}
  %h3 Transmisión en Vivo
  :plain
    <object width="480" height="296" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
    <param name="flashvars" value="cid=8662636&amp;autoplay=false"/>
    <param name="allowfullscreen" value="true"/>
    <param name="allowscriptaccess" value="always"/>
    <param name="src" value="http://www.ustream.tv/flash/viewer.swf"/>
    <embed flashvars="cid=8662636&amp;autoplay=false" width="480" height="296" allowfullscreen="true" allowscriptaccess="always" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash"></embed>
    </object><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Streaming by Ustream</a>
%hr.space
= hidden_field_tag 'estado_evento', ''
= hidden_field_tag 'pregunta_actual', ''
= hidden_field_tag 'candidato_actual', ''
= hidden_field_tag 'promedio_actual', ''
= hidden_field_tag 'usuario_actual', ''
