= render 'header'
#main.span-22.prepend-1.append-1.last
  #content.span-15
    = render 'pregunta'
    %hr.space
    = render 'candidato'    
    %hr.space
    = render 'estados'
  #sidebar.span-7.last
    #feeds.span-7.last
    = render 'twitter_button'
    = render 'twitter_feed'
%hr.space
= hidden_field_tag 'estado_evento', ''
= hidden_field_tag 'pregunta_actual', ''
= hidden_field_tag 'candidato_actual', ''
= hidden_field_tag 'promedio_actual', ''
= hidden_field_tag 'usuario_actual', ''
