- @forview = "EDIT"
= render :partial=>"breadcrumbs"

.mantform
  %h2
    Editar 
    = <%= model %>.model_name.human

  - semantic_form_for @<%= item %><%= admin_url(true) %> do |form|
    = form.semantic_errors
    = render :partial => 'form', :locals => {:form => form}
    = buttons_update(<%= admin_path %><%= items %>_path)
