<!DOCTYPE html>
<html>
  <head>
    <title>#EForo Guatemala 2011</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag 'flutie.css', 'formtastic.css',
        'blueprint/screen.css', 'tablas.css', 'buttons.css',
    'application.css', :cache => "cache/all" %>
    <%= yield :head %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <div id="footer">
      <%= javascript_include_tag 'jquery.min.js', 'jquery-ui.js', 'jquery_ujs.js', :cache => "chache/all"  %>
      <%= csrf_meta_tag %>
      <%= yield :footer %>
    </div>
  </body>
</html>
