<!DOCTYPE html>
<html>
<head>
  <title>Eforo</title>
  <%= stylesheet_link_tag 'flutie.css', 'formtastic.css',
  'blueprint/screen.css', 'tablas.css', 'buttons.css', 'application.css' %>
  <%= javascript_include_tag :defaults, 'socky.js' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <div class="container">
    <%= yield %>    
  </div>
</body>
</html>
